* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  color: #FFDEDE;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  background-color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
  align-items: center;
  padding: 2rem 2rem;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  position: fixed;
  color: #fff;
  width: 100vw;
  height: 60px;
  font-size: 1.2rem;
  z-index: 1;
}
nav a {
  color: #fff;
  text-decoration: none;
}
nav .logo {
  padding: 0.3em;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1020px) {
  nav {
    display: flex;
    padding: 4rem 2rem;
    justify-content: space-between;
    width: 100%;
    font-weight: 100;
    gap: 30px;
    align-items: center;
    padding: 1rem 2rem;
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    position: fixed;
    color: #fff;
    width: 100vw;
    height: 60px;
    font-size: 1.2rem;
  }
  nav .nav-links {
    opacity: 0.6;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }
  nav a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    font-weight: 100;
  }
  nav a:hover {
    color: #CF0F47;
    transform: scale(1.1);
  }
  nav .logo {
    padding: 0.5rem;
    font-weight: 700;
    background-color: rgb(245, 35, 35);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
footer {
  background-color: black;
  width: 100%;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  text-align: center;
  padding: 2rem 2rem;
  font-size: 1.125rem;
  font-weight: 100;
}
footer .footer-container {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
}
footer .footer-section {
  width: 30%;
  min-width: 250px;
  margin: 10px 0;
}
footer .footer-section h3 {
  font-size: 1.5rem;
  font-weight: 100;
  margin-bottom: 10px;
  display: inline-block;
  color: #CF0F47;
}
footer .footer-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
footer .footer-section li {
  margin: 10px 0;
}
footer .footer-section a {
  opacity: 0.6;
  text-decoration: none;
  font-weight: 100;
  transition: all 0.3s ease-in-out;
}
footer .footer-section a:hover {
  color: #CF0F47;
  transform: scale(1.1);
}
footer .footer-bottom {
  padding: 10px;
  color: grey;
  margin-top: 70px;
}

.view-1 {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 2rem 2rem;
  flex-direction: column;
  position: relative;
}
.view-1 #triangle-right {
  position: absolute;
  width: 0;
  height: 0;
  top: 10%;
  left: 0;
  z-index: 1;
  border-left: 0 solid transparent;
  border-right: 95px solid transparent;
  border-bottom: 95px solid red;
  /* Change color here */
  filter: blur(35px);
}
.view-1 img {
  width: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 5rem;
  border-radius: 100%;
  -webkit-mask-image: radial-gradient(circle, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
  mask-image: radial-gradient(circle, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
}
.view-1 .main-pic {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.view-1 .main-text {
  width: 100%;
  height: 100%;
}
.view-1 .main-text .socials {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.view-1 .main-text a {
  text-decoration: none;
  color: #CF0F47;
  font-size: 25px;
  opacity: 0.6;
}
.view-1 .main-text a:hover {
  color: red;
}
.view-1 h1 {
  margin-top: 2rem;
  text-align: center;
  font-weight: 100;
  font-size: 2rem;
}
.view-1 p {
  font-weight: 100;
  font-size: 1.1rem;
  text-align: center;
  line-height: 1.6;
  margin: 0.9rem 0;
  opacity: 0.6;
}
.view-1 p br {
  display: none;
}

.view-2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 2rem;
  flex-direction: column;
}
.view-2 .whats-new {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.view-2 .whats-new h2 {
  color: #CF0F47;
  font-size: 2rem;
  font-weight: 100;
}
.view-2 .whats-new .box {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  /* soft glassmorphism */
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
  border-radius: 5px;
  margin: 2rem 0;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}
.view-2 .whats-new .box p:first-child {
  flex-grow: 0;
}
.view-2 .whats-new h3 {
  flex-grow: 0;
  font-size: 1.5rem;
  font-weight: 100;
  color: white;
  margin-bottom: 20px;
}
.view-2 .whats-new p:nth-child(3) {
  flex-grow: 1;
  margin-bottom: 10px;
}
.view-2 .whats-new p,
.view-2 .whats-new a {
  font-size: 1.125rem;
  font-weight: 100;
  color: white;
}
.view-2 .whats-new a {
  text-decoration: none;
  color: white;
}
.view-2 .whats-new a i {
  font-size: 1.5rem;
}

.marquee {
  display: flex;
  width: 50%;
  overflow-x: hidden;
  position: relative;
  margin-top: 100px;
}
.marquee::after, .marquee::before {
  content: "";
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  pointer-events: none;
  z-index: 2;
}
.marquee::after {
  left: -5px;
  background-image: linear-gradient(to right, #000000, transparent);
}
.marquee::before {
  right: -5px;
  background-image: linear-gradient(to right, transparent, #000000);
}

.text {
  display: flex;
  gap: 3rem;
  animation: marquee 10s linear infinite both;
  padding: 0 1.5rem;
}
.text p {
  font-size: 2rem;
  font-weight: 600;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.cta-page {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 4rem 2rem;
}
.cta-page .left h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 400;
  color: #CF0F47;
}
.cta-page .left h2 span {
  font-style: italic;
}
.cta-page .left p {
  font-size: 1rem;
  margin-bottom: 1rem;
}
.cta-page .right {
  margin-top: 2rem;
  width: 100%;
}
.cta-page .right h2 {
  color: #CF0F47;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 400;
}
.cta-page .right form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.cta-page .right form button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background-color: #0e0e0e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.cta-page .right form button:hover {
  background-color: #000;
}
.cta-page .right form input:focus,
.cta-page .right form textarea:focus {
  outline: none;
  border: 2px solid #0e0e0e;
}
.cta-page .right form ::-moz-placeholder {
  font-size: 1rem;
}
.cta-page .right form ::placeholder {
  font-size: 1rem;
}
.cta-page .right form ::-webkit-input-placeholder {
  font-size: 1rem;
}
.cta-page .right label {
  font-size: 1.2rem;
  margin-bottom: 0.1rem;
}
.cta-page .right input {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
}
.cta-page .right textarea {
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 200px;
  padding: 1rem;
  font-size: 1rem;
  resize: vertical;
}

.view-3 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 2rem;
  flex-direction: column;
}
.view-3 .v3-header {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}
.view-3 .v3-header h2 {
  color: #CF0F47;
  font-size: 2rem;
  font-weight: 100;
}
.view-3 .v3-header a {
  font-size: 1rem;
  font-weight: 100;
  color: white;
  text-decoration: none;
}
.view-3 .v3-grid {
  margin-top: 2rem;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.view-3 .v3-grid .v3-boxes {
  width: 100%;
  height: 340px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.1);
  /* soft glassmorphism */
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
  border-radius: 5px;
}
.view-3 .v3-grid .v3-boxes h3 {
  font-size: 1.2rem;
  font-weight: 100;
  color: white;
  text-align: left;
}
.view-3 .v3-grid .v3-boxes .box-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #392d1c;
  padding: 1.1rem;
  position: absolute;
}

@media (max-width: 742px) {
  .Experience {
    padding: 2rem;
  }
  .Experience .timeline {
    margin: 50px auto;
    position: relative;
    z-index: 0;
  }
  .Experience .timeline::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 100%;
    background-color: #ffffff;
    z-index: 0;
  }
  .Experience .timeline .timeline-container {
    width: 100%;
    padding: 1rem;
    position: relative;
    z-index: 2;
  }
  .Experience .timeline .timeline-container i {
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 1.2rem;
    color: white;
  }
  .Experience .timeline .timeline-container .text-box {
    background-color: white;
    border-radius: 5px;
    padding: 1.25rem 1.5rem;
    text-align: center;
    position: relative;
    z-index: 3;
    color: black;
  }
  .Experience .timeline .timeline-container .text-box h3 {
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  .Experience .timeline .timeline-container .text-box p {
    margin-top: 1rem;
  }
  .Experience .timeline .timeline-container .text-box .left-container-arrow,
  .Experience .timeline .timeline-container .text-box .right-container-arrow {
    display: none;
  }
  .Experience .timeline .left-container,
  .Experience .timeline .right-container {
    left: 0;
  }
  .Experience .timeline .left-container i,
  .Experience .timeline .right-container i {
    z-index: 4;
    left: 50%;
    transform: translateX(-50%);
  }
}
.about {
  width: 100%;
  padding: 2rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about .about-info {
  width: 100%;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.about .about-left {
  width: 100%;
}
.about .about-left img {
  display: none;
}
.about .about-right p {
  text-align: center;
  font-size: 1rem;
}
.about h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 100;
  color: #CF0F47;
  margin-bottom: 50px;
}

@media (min-width: 743px) and (max-width: 1024px) {
  .view-1 {
    padding: 4rem 4rem;
    flex-direction: column;
  }
  .view-1 .main-text a {
    font-size: 35px;
  }
  .view-1 #triangle-right {
    position: absolute;
    width: 0;
    height: 0;
    top: 10%;
    left: 0;
    z-index: 1;
    border-left: 0 solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 200px solid red;
    /* Change color here */
    filter: blur(35px);
  }
  .view-1 img {
    width: 250px;
  }
  .view-1 h1 {
    font-size: 3rem;
  }
  .view-1 p {
    font-size: 1.2rem;
  }
  .view-1 p br {
    display: block;
  }
  .Experience {
    padding: 4rem 2rem;
    width: 100%;
  }
  .Experience h2 {
    font-size: 3rem;
    color: #CF0F47;
    text-align: center;
    font-weight: 100;
  }
  .Experience .timeline {
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
  }
  .Experience .timeline .timeline-container {
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: moveDown 1s linear forwards;
    opacity: 0;
  }
  @keyframes moveDown {
    0% {
      opacity: 1;
      transform: translateY(-30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  .Experience .timeline .timeline-container:nth-child(1) {
    animation-delay: 0s;
  }
  .Experience .timeline .timeline-container:nth-child(2) {
    animation-delay: 1s;
  }
  .Experience .timeline .timeline-container:nth-child(3) {
    animation-delay: 2s;
  }
  .Experience .timeline .timeline-container:nth-child(4) {
    animation-delay: 3s;
  }
  .Experience .timeline .timeline-container:nth-child(5) {
    animation-delay: 4s;
  }
  .Experience .timeline .timeline-container:nth-child(6) {
    animation-delay: 5s;
  }
  .Experience .timeline .timeline-container .text-box {
    padding: 20px 30px;
    background-color: white;
    border-radius: 5px;
    position: relative;
    color: black;
  }
  .Experience .timeline .timeline-container .text-box h3 {
    font-weight: 600;
  }
  .Experience .timeline .timeline-container .text-box p {
    margin-top: 15px;
  }
  .Experience .timeline .timeline-container .text-box .left-container-arrow {
    height: 0;
    width: 0;
    right: -14.5px;
    position: absolute;
    top: 28px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid white;
  }
  .Experience .timeline .timeline-container .text-box .right-container-arrow {
    height: 0;
    width: 0;
    left: -15px;
    position: absolute;
    top: 28px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid white;
  }
  .Experience .timeline .timeline-container i {
    position: absolute;
    top: 32px;
    width: 40px;
    right: -20px;
    z-index: 10;
    border-radius: 50%;
    color: white;
    font-size: larger;
  }
  .Experience .timeline .left-container {
    left: 0;
  }
  .Experience .timeline .left-container i {
    right: -80px;
  }
  .Experience .timeline .right-container {
    left: 50%;
  }
  .Experience .timeline .right-container i {
    left: -59px;
  }
  .Experience .timeline::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: white;
    top: 0;
    left: 50%;
    margin-left: -3px;
    animation: moveLine 6s linear forwards;
  }
  @keyframes moveLine {
    0% {
      height: 0;
    }
    100% {
      height: 100%;
    }
  }
  .view-2 {
    padding: 4rem 4rem;
  }
  .view-2 .whats-new {
    width: 100%;
  }
  .view-2 .whats-new .box-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .view-2 .whats-new .box-cont .box {
    width: 100%;
  }
  .view-3 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 2rem;
    flex-direction: column;
  }
  .view-3 .v3-header {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
  }
  .view-3 .v3-header h2 {
    font-size: 2rem;
    font-weight: 100;
  }
  .view-3 .v3-header a {
    font-size: 1rem;
    font-weight: 100;
    color: white;
    text-decoration: none;
  }
  .view-3 .v3-grid {
    margin-top: 2rem;
    display: grid;
    gap: 1rem;
  }
  .view-3 .v3-grid .v3-boxes {
    width: 100%;
    height: 340px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1020px) {
  html {
    font-size: clamp(16px, 1vw, 20px);
  }
  .Experience {
    padding: 4rem 2rem;
    width: 100%;
  }
  .Experience h2 {
    font-size: 3rem;
    color: #CF0F47;
    text-align: center;
    font-weight: 100;
  }
  .Experience .timeline {
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
  }
  .Experience .timeline .timeline-container {
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: moveDown 1s linear forwards;
    opacity: 0;
  }
  @keyframes moveDown {
    0% {
      opacity: 1;
      transform: translateY(-30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  .Experience .timeline .timeline-container:nth-child(1) {
    animation-delay: 0s;
  }
  .Experience .timeline .timeline-container:nth-child(2) {
    animation-delay: 1s;
  }
  .Experience .timeline .timeline-container:nth-child(3) {
    animation-delay: 2s;
  }
  .Experience .timeline .timeline-container:nth-child(4) {
    animation-delay: 3s;
  }
  .Experience .timeline .timeline-container:nth-child(5) {
    animation-delay: 4s;
  }
  .Experience .timeline .timeline-container:nth-child(6) {
    animation-delay: 5s;
  }
  .Experience .timeline .timeline-container .text-box {
    padding: 20px 30px;
    background-color: white;
    border-radius: 5px;
    position: relative;
    color: black;
  }
  .Experience .timeline .timeline-container .text-box h3 {
    font-weight: 600;
  }
  .Experience .timeline .timeline-container .text-box p {
    margin-top: 15px;
  }
  .Experience .timeline .timeline-container .text-box .left-container-arrow {
    height: 0;
    width: 0;
    right: -14.5px;
    position: absolute;
    top: 28px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid white;
  }
  .Experience .timeline .timeline-container .text-box .right-container-arrow {
    height: 0;
    width: 0;
    right: 115px;
    position: absolute;
    top: 28px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid white;
  }
  .Experience .timeline .timeline-container i {
    position: absolute;
    top: 32px;
    width: 40px;
    right: -20px;
    z-index: 10;
    border-radius: 50%;
    color: white;
    font-size: larger;
  }
  .Experience .timeline .left-container {
    left: 0;
  }
  .Experience .timeline .left-container i {
    right: -80px;
  }
  .Experience .timeline .right-container {
    left: 50%;
  }
  .Experience .timeline .right-container i {
    left: -59px;
  }
  .Experience .timeline::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: white;
    top: 0;
    left: 50%;
    margin-left: -3px;
    animation: moveLine 6s linear forwards;
  }
  @keyframes moveLine {
    0% {
      height: 0;
    }
    100% {
      height: 100%;
    }
  }
  .view-1 {
    padding: 4rem 2rem;
    flex-direction: row;
    min-height: 100vh;
    width: 100%;
  }
  .view-1 #triangle-right {
    position: absolute;
    width: 0;
    height: 0;
    top: 10%;
    left: 0;
    z-index: 1;
    border-left: 0 solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 200px solid red;
    /* Change color here */
    filter: blur(35px);
  }
  .view-1 .marquee {
    align-self: flex-end;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .view-1 .main-text a {
    font-size: 35px;
  }
  .view-1 img {
    margin-top: 1rem;
    width: 400px;
  }
  .view-1 h1 {
    font-size: 3.3rem;
  }
  .view-1 p {
    font-size: 1.4rem;
  }
  .view-1 p br {
    display: block;
  }
  .view-2 {
    padding: 4rem 2rem;
  }
  .view-2 .whats-new {
    width: 100%;
  }
  .view-2 .whats-new h2 {
    font-size: 3rem;
  }
  .view-2 .whats-new .box-cont {
    width: 100%;
    gap: 3.5rem;
    display: flex;
    justify-content: center;
  }
  .view-2 .whats-new .box-cont .box {
    min-height: 30rem;
  }
  .cta-page {
    padding: 4rem 2rem;
    flex-direction: row;
    gap: 4rem;
  }
  .cta-page .left {
    width: 50%;
    margin-top: -4rem;
  }
  .cta-page .left h2 {
    font-size: 3rem;
  }
  .cta-page .left p {
    font-size: 1.125rem;
  }
  .cta-page .right {
    width: 50%;
  }
  .cta-page .right .name-email {
    width: 100%;
    display: flex;
    gap: 1rem;
  }
  .cta-page .right .name-email label {
    font-size: 1.125rem;
    align-self: start;
    margin-bottom: 1rem;
  }
  .cta-page .right .name-email input,
  .cta-page .right .name-email textarea {
    font-size: 1.125rem;
    margin-top: 0.3rem;
  }
  .cta-page .right .name-email .message-label {
    margin-top: 2rem;
  }
  .cta-page .right h2 {
    font-size: 3rem;
    text-align: center;
  }
  .cta-page .right form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
  }
  .cta-page .right h2 {
    font-size: 3rem;
  }
  .cta-page .right input,
  .cta-page .right textarea {
    font-size: 1.125rem;
    resize: none;
  }
  .cta-page .right button {
    font-size: 1.5rem;
  }
  .cta-page .right label {
    font-size: 1.5rem;
    margin-bottom: 0rem;
  }
  .view-3 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 2rem;
    flex-direction: column;
  }
  .view-3 .v3-header {
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
  }
  .view-3 .v3-header h2 {
    font-size: 3rem;
    font-weight: 100;
  }
  .view-3 .v3-header a {
    font-size: 1.125rem;
    font-weight: 100;
    color: white;
    text-decoration: none;
  }
  .view-3 .v3-grid {
    margin-top: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .view-3 .v3-grid .v3-boxes {
    width: 100%;
    height: 320px;
  }
  .about {
    margin-top: 50px;
    position: relative;
    min-height: 50vh;
  }
  .about .about-right p {
    font-size: 1.125rem;
  }
  .about h2 {
    font-size: 3rem;
  }
  .about .about-info p {
    width: 60%;
    margin: 0 auto;
  }
  .about .about-left img {
    display: block;
    position: absolute;
  }
  .about .about-left .img-1 {
    top: 0px;
    left: 50px;
    width: 250px;
  }
  .about .about-left .img-2 {
    bottom: -10px;
    left: 90px;
  }
  .about .about-left .img-3 {
    top: 150px;
    left: 1150px;
    width: 250px;
  }
}/*# sourceMappingURL=style.css.map */